In [8]:
import pandas as pd

In [9]:
# some test data
test_data = {"movie_id": [1, 2, 3, 4, 5, 6], "name": ["Toy Story (1995)", "Apollo 13 (1995)", "Batman Forever (1995)", 
                                                     "Star Wars (1977)", "Shawshank Redemption, The (1994)", 
                                                      "Lion King, The (1994)"], 
            "mood": [["Happy", "Neutral", "Surprised"], ["Fearful", "Neutral", "Surprised"], ["Disgusted"], 
                     ["Surprised", "Happy"], ["Surprised", "Happy"], ["Sad", "Happy"]]}
df = pd.DataFrame(data=test_data)
df

   movie_id                              name                           mood
0         1                  Toy Story (1995)    [Happy, Neutral, Surprised]
1         2                  Apollo 13 (1995)  [Fearful, Neutral, Surprised]
2         3             Batman Forever (1995)                    [Disgusted]
3         4                  Star Wars (1977)             [Surprised, Happy]
4         5  Shawshank Redemption, The (1994)             [Surprised, Happy]
5         6             Lion King, The (1994)                   [Sad, Happy]

In [10]:
# the dictionary that holds what user likes and the mood detected
user_likes = {1: "Toy Story (1995)", 4: "Star Wars (1977)", 5: "Shawshank Redemption, The (1994)", 3: "Batman Forever (1995)"}
user_mood = "Happy"
user_likes

{1: 'Toy Story (1995)',
 4: 'Star Wars (1977)',
 5: 'Shawshank Redemption, The (1994)',
 3: 'Batman Forever (1995)'}

In [11]:
# filters the dataframe based on user_mood and user_likes dictionary
filt = (df.apply(lambda row: user_mood in row["mood"], axis=1)) & (df['movie_id'].isin(user_likes.keys()))
df_filtered = df[["movie_id", "name"]][filt]
df_filtered

   movie_id                              name
0         1                  Toy Story (1995)
3         4                  Star Wars (1977)
4         5  Shawshank Redemption, The (1994)

In [12]:
# this is the filtered dictionary that has to be returned
df_filtered.set_index('movie_id').T.to_dict('records')[0]

{1: 'Toy Story (1995)',
 4: 'Star Wars (1977)',
 5: 'Shawshank Redemption, The (1994)'}